@import './mixins';

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  padding: 130px 0 130px;

  overflow: hidden;

  @include lt {
    padding: 140px 0;
    gap: 80px;
  }

  @include md {
    padding: 76px 0;
    gap: 48px;
  }

  &-wrapper {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 0 var(--padding-inline);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.client {
  position: relative;
  width: 100%;
  aspect-ratio: 1.8;
  opacity: 0.7;
  transition: all 0.3s;

  &:hover {
    opacity: 1;

    img {
      transform: translate(-50%, -50%) scale(1.4);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    object-position: center;
    transform-origin: center;
    transition: all 0.5s;
  }

  @include lt {
    opacity: 1;
  }
}
