@import './mixins';

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 110px;
  padding: 282px 0;

  overflow: hidden;

  @include lt {
    padding: 140px 0;
    gap: 80px;
  }

  @include md {
    padding: 76px 0;
    gap: 48px;
  }

  &-wrapper {
    width: 100%;

    @include lt {
      padding: 0 var(--padding-inline);
    }

    .swiper-wrapper {
      transition-timing-function: linear;

      @include lt {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
      }
    }
  }
}

.client {
  position: relative;
  height: auto;
  min-height: 104px;
  opacity: 0.7;
  transition: all 0.3s;

  &:hover {
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
    object-position: center;
    transition: all 0.5s;
  }

  @include lt {
    opacity: 1;
  }
}
