@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #2b2f2f;
  --color-text: #c5c5c5;
  --color-accent: #f78d1e;
  --color-bg-dark: #282928;
  --color-bg-light: #e7e9e8;
  --gradient-bg-light: linear-gradient(
      to bottom,
      #e7e9e8 1.23%,
      #e7e9e8 10%,
      transparent
    ),
    url(../img/noise.png),
    linear-gradient(128.58deg, #e7e9e8 1.23%, #9a9da2 128.79%);
  --font-family: 'Barlow', Arial, Helvetica, system-ui, sans-serif;

  --padding-inline: 8.5vw;

  --glow-size: 10px;
  --glow-color: var(--color-accent);
  --filter-accent-glow: drop-shadow(0 0 var(--glow-size) var(--glow-color));
}

html,
body {
  scroll-behavior: smooth;
  background: var(--color-primary-dark);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2560px;
  min-height: 100svh;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg-dark);
}
main {
  margin-bottom: auto;
  overflow-x: hidden;
}
a,
a:is(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  color: inherit;
  background: transparent;
}

.container {
  width: 100%;
  padding: 0 var(--padding-inline);
}

.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);

  &--dark {
    color: var(--color-primary-dark);
  }

  span {
    color: var(--color-accent);
  }

  @include xl {
    font-size: 110px;
  }

  &-wrapper {
    position: relative;
    overflow: hidden;
  }

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-dark);
    z-index: 2;

    .section-title--dark & {
      background-color: var(--color-bg-light);
    }

    .contacts & {
      background-color: var(--color-accent);
    }
  }
}

.title-dots {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);
    display: block;
    width: 303px;
    height: 6px;
    background: url(../img/section-title-element.svg) no-repeat center / contain;

    .hero-slide--main & {
      display: none;
    }

    @include xl {
      width: 480px;
      height: 8px;
    }
  }

  &::before {
    right: calc(100% + 24px);
  }
  &::after {
    left: calc(100% + 24px);
    transform: translate(0, -50%) rotate(180deg);
  }

  &--light {
    &::before {
      right: calc(100% + 24px);
      transform: rotate(180deg);
    }
    &::after {
      left: calc(100% + 24px);
      transform: translate(0, -50%);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 316px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid var(--color-primary-light);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: all 0.3s linear;

  @include xl {
    max-width: 420px;
    gap: 8px;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;

    svg {
      width: 38px;
      height: 46px;
    }
  }

  &:hover {
    color: var(--color-primary-light);
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    box-shadow: 0 0 48px #f78d1e82;
    transform: scale(1.05);

    @include xl {
      box-shadow: 0 0 56vw #f78d1e82;
    }
  }

  &--on-accent {
    &:hover {
      color: var(--color-primary-light);
      border-color: var(--color-primary-dark);
      background-color: var(--color-primary-dark);
    }
  }
}

.custom-cursor {
  position: fixed;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 9999;
  transition-property: width, height, background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.96, 0.34, 1);
  border-radius: 50%;
  background: var(--color-accent);
  overflow: hidden;

  &--on-accent {
    background: var(--color-bg-dark);
  }
}

.custom-cursor.hover {
  width: 65px;
  height: 65px;
  background: rgb(247 141 30 / 15%);
  box-shadow: 0 0 30px rgb(247 141 30 / 80%);

  &--on-accent {
    background: var(--color-bg-dark);
    box-shadow: 0 0 30px var(--color-bg-dark);
  }
}
