@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #2b2f2f;
  --color-text: #c5c5c5;
  --color-accent: #f78d1e;
  --color-bg-dark: #282928;
  --gradient-bg-light: url(../img/noise.png),
    linear-gradient(128.58deg, #e7e9e8 1.23%, #9a9da2 128.79%);
  --font-family: 'Barlow', Arial, Helvetica, system-ui, sans-serif;

  --padding-inline: 8.5vw;
}

html,
body {
  scroll-behavior: smooth;
  background: var(--color-primary-dark);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2560px;
  min-height: 100svh;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg-dark);
}
main {
  margin-bottom: auto;
  overflow-x: hidden;
}
a,
a:is(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 var(--padding-inline);
}

.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);

  &--dark {
    color: var(--color-primary-dark);
  }

  span {
    color: var(--color-accent);
  }

  @include xl {
    font-size: 110px;
  }
}

.title-dots {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);
    display: block;
    width: 303px;
    height: 6px;
    background: url(../img/section-title-element.svg) no-repeat center / contain;

    .hero-slide--main & {
      display: none;
    }

    @include xl {
      width: 480px;
      height: 8px;
    }
  }

  &::before {
    right: calc(100% + 24px);
  }
  &::after {
    left: calc(100% + 24px);
    transform: translate(0, -50%) rotate(180deg);
  }

  &--light {
    &::before {
      right: calc(100% + 24px);
      transform: rotate(180deg);
    }
    &::after {
      left: calc(100% + 24px);
      transform: translate(0, -50%);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 316px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid var(--color-primary-light);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: all 0.3s linear;

  @include xl {
    max-width: 420px;
    gap: 8px;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;

    svg {
      width: 38px;
      height: 46px;
    }
  }

  &:hover {
    color: var(--color-primary-light);
    border-color: var(--color-accent);
    background-color: var(--color-accent);
    box-shadow: 0 0 48px #f78d1e82;
    transform: scale(1.05);

    @include xl {
      box-shadow: 0 0 56vw #f78d1e82;
    }
  }

  &--on-accent {
    &:hover {
      color: var(--color-primary-light);
      border-color: var(--color-primary-dark);
      background-color: var(--color-primary-dark);
    }
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s, background-color 0.15s, width 0.5s, height 0.5s,
    filter 0.15s;
  transition-timing-function: ease;
  z-index: 9999;
  filter: blur(0);
}

.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(2);
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(2px);
}
