.contacts {
  padding: 152px 0 158px;
  background: var(--color-accent);

  .section-title {
    margin-bottom: 100px;
    span {
      color: var(--color-primary-light);
    }
  }

  &-types {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 123px;
    margin: 0 auto;

    li {
      width: 100%;
      max-width: 316px;
    }
  }
}
