@import './mixins';

.footer {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
      'logo contacts'
      'title contacts'
      'location socials'
      'copyright copyright';
    row-gap: 30px;
    padding: 116px var(--padding-inline) 44px;

    @include sm {
      padding-top: 50px;
      grid-template-columns: 1fr;
      grid-template-areas:
        'logo'
        'title'
        'location'
        'contacts'
        'socials'
        'copyright';
      justify-content: center;
    }
  }

  &-logo {
    grid-area: logo;
    justify-self: start;

    @include sm {
      justify-self: center;
    }
  }

  &-title {
    grid-area: title;

    margin: 4px 0 8px;
    font-weight: 700;
    font-size: 42px;
    line-height: 106%;
    text-transform: uppercase;
    color: var(--color-primary-light);

    span {
      color: var(--color-accent);
    }

    @include sm {
      text-align: center;
      font-size: 36px;
    }

    @include xl {
      font-size: 54px;
    }
  }

  &-location-wrap {
    grid-area: location;

    display: flex;
    align-items: flex-start;
    gap: 36px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;

    a {
      color: var(--color-primary-light);
      transition: color 0.3s;

      svg {
        display: inline-block;
        margin-right: 8px;
      }

      span {
        margin-bottom: 16px;
        font-size: 24px;
        display: block;
        font-weight: 700;
        color: var(--color-primary-light);

        @include sm {
          color: var(--color-primary-light);
          font-size: 16px;
        }
      }

      &:hover {
        color: var(--color-accent);
      }

      &:last-child {
        @include sm {
          text-align: right;
        }
      }

      @include sm {
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
      }
    }

    @include lt {
      flex-direction: column;
      font-size: 16px;
      gap: 24px;

      br {
        display: none;
      }
    }

    @include sm {
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    @include xl {
      font-size: 24px;
    }
  }

  &-contacts {
    grid-area: contacts;
    justify-self: end;

    @include sm {
      justify-self: center;
      width: 100%;
    }

    &-title {
      margin: 8px 0 30px;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: right;
      color: var(--color-accent);

      @include sm {
        display: none;
      }

      @include xl {
        font-size: 32px;
      }
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 22px;

      @include sm {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 16px;
      }

      @include xs {
        flex-wrap: wrap;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 22px;
      font-weight: 400;
      font-size: 18px;
      line-height: normal;
      text-align: right;
      color: var(--color-primary-light);

      transition: color 0.3s;

      &:hover {
        color: var(--color-accent);
      }

      svg {
        display: block;
        flex-shrink: 0;

        @include xs {
          width: 17px;
          height: 17px;
        }
      }

      @include sm {
        flex-direction: row-reverse;
        color: rgba(255, 255, 255, 0.3);
        font-size: 12px;
      }

      @include xs {
        gap: 14px;
      }

      @include xl {
        font-size: 24px;
      }
    }
  }

  &-socials {
    min-width: 200px;
    grid-area: socials;
    justify-self: end;
    align-self: end;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    @include sm {
      justify-self: center;
      width: 100%;
    }

    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 46px;
      color: #999fa0;

      @include sm {
        justify-content: space-between;
      }
    }

    &-link {
      color: #999fa0;
      transition: color 0.3s;

      &:hover {
        color: var(--color-primary-light);
      }
    }

    @include lt {
      align-self: end;
    }
  }

  &-copyright {
    grid-area: copyright;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 317%;
    letter-spacing: 1vw;
    text-align: center;
    color: var(--color-primary-light);
    opacity: 0.34;

    @include lt {
      letter-spacing: initial;
      font-size: 14px;
    }

    @include sm {
      line-height: normal;
    }
  }
}
