@import './mixins';

.hero {
  position: relative;

  .swiper-wrapper {
    transition-timing-function: ease-in;
  }

  &-slide {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      row-gap: 22px;
      width: 100%;
      height: 100svh;
      padding-bottom: 8.7vh;
      overflow-x: hidden;

      @include xl {
        row-gap: 28px;
      }
    }

    &-image {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-position: top center;
      transition: transform 1500ms, filter 0.3s, scale 1s;
      filter: grayscale(100%) brightness(0.5) contrast(0.9);
      scale: 1;

      .hero-slide:hover & {
        filter: grayscale(0%) brightness(0.5);
        scale: 1.05;
      }
    }

    &-bottom {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 44px;

      @include xl {
        gap: 56px;
      }
    }

    &-text-wrap {
      position: relative;
      top: 50svh;
      transform: translate(0, -39%);

      img {
        @include xl {
          width: 1920px;
          height: auto;
        }
      }
    }

    &--main {
      justify-content: flex-start;
      .border-btn-box {
        align-self: flex-start;
        margin: auto 0 0 8.5vw;
      }
    }

    .button,
    .border-btn-box {
      position: relative;
      z-index: 3;
      flex-shrink: 0;
    }
  }

  &-title {
    position: relative;
    font-weight: 700;
    font-size: 86px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary-light);

    @include xl {
      font-size: 114px;
    }

    .hero-slide--main & {
      font-size: 0px;
    }

    span {
      color: var(--color-accent);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 55%;
      transform: translate(0, -50%);
      display: block;
      width: 408px;
      height: 20px;
      background: url(../img/main-title-element.svg) no-repeat center / contain;

      .hero-slide--main & {
        display: none;
      }

      @include xl {
        width: 544px;
        height: 26px;
      }
    }

    &::before {
      right: calc(100% + 28px);

      @include xl {
        right: calc(100% + 36px);
      }
    }
    &::after {
      left: calc(100% + 28px);
      transform: translate(0, -50%) rotate(180deg);

      @include xl {
        left: calc(100% + 36px);
      }
    }

    &-wrapper {
      position: relative;
      overflow: hidden;
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-light);
      z-index: 2;
    }
  }

  &-description {
    position: relative;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 173%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-light);

    @include xl {
      margin-bottom: 10px;
      font-size: 32px;
    }

    .hero-slide--main & {
      font-weight: 500;
      font-size: 22px;
      margin-top: -110px;

      @include xl {
        margin-top: -146px;
        font-size: 28px;
      }
    }
  }

  &-button {
    position: absolute;
    bottom: 8.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px;
    flex-shrink: 0;
    opacity: 0.7;
    transition: opacity 0.3s, width 0.5s;
    z-index: 2;
    font-size: 0;

    &--next {
      right: 8.5vw;
    }
    &--prev {
      right: 12.5vw;
      transform: rotate(180deg);

      &::before {
        transform-origin: left;
      }

      .not-first-slide & {
        right: auto;
        left: 8.5vw;
      }
    }

    &:hover {
      opacity: 1;
    }

    .not-first-slide & {
      bottom: 8.7vh;
    }

    &::after {
      width: 12px;
      height: 12px;
    }

    &::before {
      right: -18px;
    }
  }
}
