@import './mixins';

.hero {
  position: relative;

  .swiper-wrapper {
    transition-timing-function: ease-in;
  }

  &-slide {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      row-gap: 22px;
      width: 100%;
      height: 100svh;
      padding-bottom: 8.7vh;
      overflow-x: hidden;

      @include md {
        padding-bottom: 140px;
        row-gap: 16px;
        background: linear-gradient(
          180deg,
          transparent 40%,
          #171919 60%,
          #171919 100%
        );
        z-index: 1;
      }

      @include xl {
        row-gap: 28px;
      }
    }

    &-image {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-position: top center;
      transition: transform 1500ms, filter 0.3s, scale 1s;
      filter: grayscale(100%) brightness(0.5) contrast(0.9);
      scale: 1;

      .hero-slide:hover & {
        scale: 1.05;
      }

      @include md {
        height: 70%;
      }
    }

    &-media {
      position: absolute;
      inset: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: transform 1500ms, filter 0.3s, scale 1s;

      @include md {
        height: 70%;
      }
    }

    &-poster,
    &-video {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: 1.5s;
      filter: grayscale(100%) brightness(0.5) contrast(0.9);
    }

    &-video {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1.5s ease, visibility 2s linear;
      pointer-events: none;
      object-fit: cover;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-bottom {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 44px;

      @include xl {
        gap: 56px;
      }
    }

    &-text-wrap {
      position: relative;
      top: 50svh;
      transform: translate(0, -34%);
    }

    &--main {
      justify-content: flex-start;
      .border-btn-box {
        align-self: flex-start;
        margin: auto 0 0 8.5vw;
      }
    }

    .button,
    .border-btn-box {
      position: relative;
      z-index: 3;
      flex-shrink: 0;
    }
  }

  &-energising-wrap {
    width: 1440px;
    height: 74px;
    position: relative;

    .left {
      position: absolute;
      top: 50%;
      right: calc(50% + 245px);
      transform: translate(0, -50%);
    }

    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .right {
      position: absolute;
      top: 50%;
      left: calc(50% + 245px);
      transform: translate(0, -50%);
    }
  }

  &-future {
    display: block;
    margin: 24px auto 34px;
  }

  &-title {
    position: relative;
    font-weight: 700;
    font-size: 86px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary-light);

    @include md {
      font-size: clamp(3rem, 1.6277rem + 5.8552vw, 5.375rem);
    }

    @include xl {
      font-size: 114px;
    }

    .hero-slide--main & {
      font-size: 0px;
    }

    span {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    span.accent-color {
      color: var(--color-accent);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 55%;
      transform: translate(0, -50%);
      display: block;
      width: 408px;
      height: 20px;
      background: url(../img/main-title-element.svg) no-repeat center / contain;

      .hero-slide--main & {
        display: none;
      }

      @include md {
        display: none;
      }

      @include xl {
        width: 544px;
        height: 26px;
      }
    }

    &::before {
      right: calc(100% + 28px);

      @include xl {
        right: calc(100% + 36px);
      }
    }
    &::after {
      left: calc(100% + 28px);
      transform: translate(0, -50%) rotate(180deg);

      @include xl {
        left: calc(100% + 36px);
      }
    }

    &-wrapper {
      position: relative;
      overflow: hidden;

      @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-accent);
      z-index: 2;
    }
  }

  &-description {
    position: relative;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 173%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-light);

    @include md {
      color: #9a9da2;
      margin-bottom: 38px;
    }

    @include xl {
      margin-bottom: 10px;
      font-size: 32px;
    }

    .hero-slide--main & {
      font-weight: 500;
      font-size: 22px;

      @include xl {
        font-size: 28px;
      }
    }
  }

  &-button {
    position: absolute;
    bottom: 8.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px;
    flex-shrink: 0;
    opacity: 0.7;
    transition: opacity 0.3s, width 0.5s;
    z-index: 2;
    font-size: 0;

    @include md {
      bottom: 46px;
    }

    &--next {
      right: 8.5vw;
    }
    &--prev {
      right: 12.5vw;
      transform: rotate(180deg);

      &::before {
        transform-origin: left;
      }

      .not-first-slide & {
        right: auto;
        left: 8.5vw;
      }

      @include md {
        right: auto;
        left: 8.5vw;
      }
    }

    &:hover {
      opacity: 1;
    }

    &::after {
      width: 12px;
      height: 12px;
    }

    &::before {
      right: -18px;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  --swiper-pagination-bullet-horizontal-gap: 8px;

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 60px;
    z-index: 1;
  }
  .swiper-pagination-bullet {
    background: var(--color-primary-light);
    opacity: 0.9;
    width: 4px;
    height: 4px;
  }
  .swiper-pagination-bullet-active {
    background: var(--color-accent);
  }
}
