@import './mixins';

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  padding: 135px 0 544px;
  background: url(../img/MAP.svg) no-repeat center bottom,
    var(--gradient-bg-light);

  @include md {
    padding: 53px 0 230px;
    background: url(../img/MAP.svg) no-repeat center bottom / contain,
      var(--gradient-bg-light);
  }

  &-description {
    max-width: 840px;
    margin: 0 var(--padding-inline) 104px;
    font-weight: 500;
    font-size: 20px;
    line-height: 168%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-dark);

    @include md {
      font-size: 14px;
      margin: 0 var(--padding-inline) 40px;
    }

    @include xs {
      margin-bottom: 20px;
    }

    @include xl {
      font-size: 26px;
    }
  }
}

.counters-wrap {
  --column-gap: 26px;
  --row-gap: 26px;
  --column-count: 4;

  display: grid;
  grid-template-columns: repeat(
    var(--column-count),
    calc(
      (100% - var(--column-gap) * (var(--column-count) - 1)) /
        var(--column-count)
    )
  );
  gap: var(--row-gap) var(--column-gap);
  width: 100%;
  list-style: none;

  @include lt {
    --row-gap: 48px;
    --column-count: 2;
  }

  @include sm {
    --column-gap: 16px;
    --row-gap: 26px;
  }
}

.counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 68px 40px 40px;
  border-radius: 8px;
  background: radial-gradient(
    circle at top center,
    transparent 35px,
    #dcdfdecc 36px
  );
  filter: drop-shadow(0px 4px 46.2px rgba(0, 0, 0, 0.1));

  @include md {
    background: radial-gradient(
      circle at top center,
      transparent 35px,
      #999fa080 36px
    );
    backdrop-filter: blur(4px);
  }
  @include sm {
    padding: 48px 20px 20px;
    background: radial-gradient(
      circle at top center,
      transparent 25px,
      #999fa080 26px
    );
  }

  @include xs {
    padding: 28px 16px 16px;
  }

  &-img {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);

    @include sm {
      top: -20px;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }

  &-count {
    font-weight: 700;
    font-size: 102px;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-light);
    transition: filter 0.7s;

    .counter:hover & {
      filter: var(--filter-accent-glow);
    }

    @include md {
      font-size: 78px;
    }
    @include sm {
      font-size: 54px;
    }

    @include xl {
      font-size: 130px;
    }
  }
  &-plus {
    font-weight: 700;
    font-size: 48px;
    line-height: 97%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-light);

    transition: filter 0.7s;

    .counter:hover & {
      filter: var(--filter-accent-glow);
    }

    @include md {
      font-size: 38px;
    }

    @include sm {
      font-size: 28px;
    }

    @include xl {
      font-size: 62px;
    }
  }
  &-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    text-transform: uppercase;
    color: #505353;

    @include md {
      font-size: 16px;
    }

    @include sm {
      font-size: 14px;
      line-height: normal;
    }

    @include xl {
      font-size: 24px;
    }
  }
}
