@import './mixins';

.precision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  padding: 91px 0 520px;
  background: url(../img/precision_logo.svg) no-repeat center bottom 68px /
      1210px auto,
    var(--gradient-bg-light);
  background-blend-mode: overlay, normal;

  @include lt {
    padding: 54px 0 440px;
    background: url(../img/precision_logo.svg) no-repeat center bottom 48px /
        1024px auto,
      var(--gradient-bg-light);
  }

  @include md {
    padding: 36px 0 200px;
    background: url(../img/precision_logo.svg) no-repeat center bottom 38px /
        376px auto,
      var(--gradient-bg-light);
  }

  &-text {
    max-width: 926px;
    margin: 0 var(--padding-inline);
    font-weight: 400;
    font-size: 20px;
    line-height: 148%;
    text-align: justify;
    color: var(--color-primary-dark);

    @include md {
      font-size: 14px;
    }

    @include xl {
      max-width: 1200px;
      font-size: 24px;
    }

    p {
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 28px;
        @include md {
          margin-bottom: 18px;
        }
      }
    }
  }
}
