@import './mixins';

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  padding: 126px 0 170px;

  @include md {
    padding: 48px 0;
    gap: 48px;
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 173%;
    text-align: center;
    text-transform: uppercase;

    @include md {
      font-size: 14px;
      padding: 0 var(--padding-inline);
    }

    @include xl {
      font-size: 26px;
    }
  }

  &-list {
    margin-top: 78px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;

    @include lt {
      grid-template-columns: repeat(2, calc(50% - 8px));
    }

    @include md {
      margin-top: 0;
    }
  }
}

.feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 292px;
  border-radius: 4px;
  background: url(../img/noise.png),
    linear-gradient(244.75deg, #2f2f2f -36.13%, #505353 97.37%);
  box-shadow: inset 84px -198px 235px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.7s;
  overflow: hidden;

  --glow-size: 24px;
  --glow-color: rgb(247 141 30 / 80%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 150%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(5px);
    transition: left 1s ease;
    z-index: 3;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, var(--color-accent));
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0 0 var(--glow-size) var(--glow-color);

    &::before {
      left: 125%;
    }

    &::after {
      opacity: 0.3;
    }
  }

  @include sm {
    width: 100%;
    aspect-ratio: 1;
    min-height: auto;
  }

  @include xl {
    min-height: 342px;
  }

  &-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, opacity 0.7s;

    .feature:hover & {
      transform: translate(-50%, -50%) scale(1.1);
    }

    @include sm {
      width: 90%;
      height: 90%;
      object-fit: contain;
      display: block;
    }
  }

  &-name {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary-light);
    z-index: 4;

    span {
      display: block;
      color: var(--color-accent);
    }

    @include md {
      font-size: 28px;
    }

    @include xs {
      font-size: 20px;
    }

    @include xl {
      font-size: 42px;
    }
  }
}
