@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #2b2f2f;
  --color-text: #c5c5c5;
  --color-accent: #f78d1e;
  --color-bg-dark: #282928;
  --color-bg-light: #e7e9e8;
  --gradient-bg-light: url(../img/noise.png),
    linear-gradient(128.58deg, #e7e9e8 1.23%, #9a9da2 128.79%);
  --font-family: "Barlow", Arial, Helvetica, system-ui, sans-serif;
  --padding-inline: 8.5vw;
  --glow-size: 10px;
  --glow-color: var(--color-accent);
  --filter-accent-glow: drop-shadow(0 0 var(--glow-size) var(--glow-color));
}

html,
body {
  scroll-behavior: smooth;
  background: var(--color-primary-dark);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2560px;
  min-height: 100svh;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg-dark);
}

main {
  margin-bottom: auto;
  overflow-x: hidden;
}

a,
a:is(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: transparent;
}

.container {
  width: 100%;
  padding: 0 var(--padding-inline);
}

.preloader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-dark);
  z-index: 1000;
}
.preloader-wrap {
  position: relative;
  width: 140px;
  height: 48px;
}
.preloader-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.preloader-cover {
  position: absolute;
  inset: -2px;
  width: 144px;
  height: 52px;
  background-color: var(--color-primary-dark);
  z-index: 2;
}

.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
}
.section-title--dark {
  color: var(--color-primary-dark);
}
.section-title span {
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  .section-title {
    font-size: 110px;
  }
}
@media (max-width: 1024px) {
  .section-title {
    font-size: clamp(2.25rem, 1rem + 5.3333vw, 5rem);
  }
}
@media (max-width: 576px) {
  .section-title {
    padding: 0 var(--padding-inline);
  }
}
.section-title-wrapper {
  position: relative;
  overflow: hidden;
}
.section-title-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  z-index: 2;
}
.section-title--dark .section-title-cover {
  background-color: var(--color-accent);
}
.contacts .section-title-cover {
  background-color: var(--color-bg-light);
}

.title-dots::before, .title-dots::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  display: block;
  width: 303px;
  height: 6px;
  background: url(../img/section-title-element.svg) no-repeat center/contain;
}
.hero-slide--main .title-dots::before, .hero-slide--main .title-dots::after {
  display: none;
}
@media (min-width: 1921px) {
  .title-dots::before, .title-dots::after {
    width: 480px;
    height: 8px;
  }
}
@media (max-width: 1024px) {
  .title-dots::before, .title-dots::after {
    display: none;
  }
}
.title-dots::before {
  right: calc(100% + 24px);
}
.title-dots::after {
  left: calc(100% + 24px);
  transform: translate(0, -50%) rotate(180deg);
}
.title-dots--light::before {
  right: calc(100% + 24px);
  transform: rotate(180deg);
}
.title-dots--light::after {
  left: calc(100% + 24px);
  transform: translate(0, -50%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 316px;
  padding: 11px;
  border: 1px solid var(--color-primary-light);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: all 0.3s linear;
}
@media (min-width: 1921px) {
  .button {
    max-width: 420px;
    gap: 8px;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;
  }
  .button svg {
    width: 38px;
    height: 46px;
  }
}
.button:hover {
  color: var(--color-primary-light);
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  box-shadow: 0 0 48px rgba(247, 141, 30, 0.5098039216);
  transform: scale(1.05);
}
@media (min-width: 1921px) {
  .button:hover {
    box-shadow: 0 0 56vw rgba(247, 141, 30, 0.5098039216);
  }
}
.button--on-accent:hover {
  color: var(--color-primary-light);
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}

.arrow-btn {
  transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.arrow-btn::before {
  content: "";
  display: block;
  position: relative;
  right: -12px;
  width: 0;
  height: 2px;
  transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: right;
  background: var(--color-accent);
  order: 1;
}

.arrow-btn::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--color-primary-light);
  border-top: 2px solid var(--color-primary-light);
  transform: rotate(45deg);
  transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  order: 2;
}

.border-btn-box:hover .arrow-btn::before,
.arrow-btn:hover::before {
  width: 30px;
}

.border-btn-box:hover .arrow-btn {
  color: var(--color-accent);
}

.border-btn-box:hover .arrow-btn::after,
.arrow-btn:hover::after {
  border-right: 2px solid var(--color-accent);
  border-top: 2px solid var(--color-accent);
}

.border-btn-box {
  position: relative;
  border: 1px solid var(--color-primary-light);
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 316px;
  padding: 14px;
}
@media (max-width: 768px) {
  .border-btn-box {
    max-width: 252px;
    padding: 10px;
  }
}

.border-btn-inner {
  overflow: hidden;
}

.border-btn-box::before,
.border-btn-inner::after {
  position: absolute;
  width: calc(100% + 1px);
  height: 1px;
  content: "";
  background: var(--color-accent);
  top: -1px;
  left: 0;
  transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform: scaleX(0);
  transform-origin: left;
}

.border-btn-box::after,
.border-btn-inner::before {
  position: absolute;
  width: 1px;
  height: calc(100% + 2px);
  content: "";
  background: var(--color-accent);
  top: -1px;
  right: -1px;
  transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform: scaleY(0);
  transform-origin: top;
}

.border-btn-inner::before {
  top: auto;
  right: auto;
  bottom: -1px;
  left: -1px;
  transform-origin: bottom;
}

.border-btn-inner::after {
  top: auto;
  left: auto;
  bottom: -1px;
  right: 0;
  transform-origin: right;
}

.border-btn-box:hover::before,
.border-btn-box:hover .border-btn-inner::after {
  transform: scaleX(1);
}

.border-btn-box:hover::after,
.border-btn-box:hover .border-btn-inner::before {
  transform: scaleY(1);
}

.border-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: color 0.5s;
}
.border-btn:hover {
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .border-btn {
    font-size: 14px;
  }
}

.custom-cursor {
  position: fixed;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 9999;
  transition-property: width, height, background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.96, 0.34, 1);
  border-radius: 50%;
  background: var(--color-accent);
  overflow: hidden;
}
.custom-cursor--on-accent {
  background: var(--color-bg-dark);
}

.custom-cursor.hover {
  width: 65px;
  height: 65px;
  background: rgba(247, 141, 30, 0.15);
  box-shadow: 0 0 30px rgba(247, 141, 30, 0.8);
}
.custom-cursor.hover--on-accent {
  background: var(--color-bg-dark);
  box-shadow: 0 0 30px var(--color-bg-dark);
}

.header {
  position: absolute;
  inset: 0 0 auto;
  z-index: 10;
}
.header h1 {
  font-size: 0;
}
@media (max-width: 768px) {
  .header-logo {
    position: relative;
    width: 120px;
    z-index: 1;
  }
  .header-logo img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 41px var(--padding-inline);
}
.header-nav-wrapper {
  position: relative;
}
.header-burger {
  position: relative;
  width: 32px;
  height: 24px;
  margin-top: 4px;
  z-index: 1;
}
.header-burger:hover {
  color: var(--color-accent);
}
.header-burger svg {
  display: block;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s, color 0.3s;
}
.header-burger .opened {
  opacity: 0;
}
.js-opened .header-burger .opened {
  opacity: 1;
}
.header-burger .closed {
  opacity: 1;
}
.js-opened .header-burger .closed {
  opacity: 0;
}
.header-nav {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s;
}
@media (max-width: 768px) {
  .header-nav {
    position: fixed;
    inset: 0;
    background: #222222 url(../img/noise.png);
    width: 100vw;
    height: 100svh;
    transform: translate(100vw, 0);
    opacity: 1;
    transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
.js-opened .header-nav {
  height: 170px;
  opacity: 1;
}
@media (max-width: 768px) {
  .js-opened .header-nav {
    height: 100svh;
    transform: translate(0, 0);
  }
}
.js-opened .header-nav .header-nav-list {
  visibility: visible;
}
@media (max-width: 768px) {
  .js-opened .header-nav .header-nav-list {
    height: 100svh;
    justify-content: center;
  }
}
@media (min-width: 1921px) {
  .js-opened .header-nav {
    height: 270px;
  }
}
.header-nav-list {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
}
@media (max-width: 768px) {
  .header-nav-list {
    gap: 18px;
  }
}
@media (min-width: 1921px) {
  .header-nav-list {
    gap: 20px;
  }
}
.header-nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  transition: color 0.3s;
}
.header-nav-link:hover {
  color: var(--color-primary-light);
}
@media (max-width: 768px) {
  .header-nav-link {
    color: var(--color-primary-light);
  }
}
@media (min-width: 1921px) {
  .header-nav-link {
    font-size: 24px;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo contacts" "title contacts" "location socials" "copyright copyright";
  row-gap: 30px;
  padding: 116px var(--padding-inline) 44px;
}
@media (max-width: 768px) {
  .footer-container {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "title" "location" "contacts" "socials" "copyright";
    justify-content: center;
  }
}
.footer-logo {
  grid-area: logo;
  justify-self: start;
}
@media (max-width: 768px) {
  .footer-logo {
    justify-self: center;
  }
}
.footer-title {
  grid-area: title;
  margin: 4px 0 8px;
  font-weight: 700;
  font-size: 42px;
  line-height: 106%;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
.footer-title span {
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .footer-title {
    text-align: center;
    font-size: 36px;
  }
}
@media (min-width: 1921px) {
  .footer-title {
    font-size: 54px;
  }
}
.footer-location-wrap {
  grid-area: location;
  display: flex;
  align-items: flex-start;
  gap: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}
.footer-location-wrap a {
  color: var(--color-primary-light);
  transition: color 0.3s;
}
.footer-location-wrap a svg {
  display: inline-block;
  margin-right: 8px;
}
.footer-location-wrap a span {
  margin-bottom: 16px;
  font-size: 24px;
  display: block;
  font-weight: 700;
  color: var(--color-primary-light);
}
@media (max-width: 768px) {
  .footer-location-wrap a span {
    color: var(--color-primary-light);
    font-size: 16px;
  }
}
.footer-location-wrap a:hover {
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .footer-location-wrap a:last-child {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .footer-location-wrap a {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .footer-location-wrap {
    flex-direction: column;
    font-size: 16px;
    gap: 24px;
  }
  .footer-location-wrap br {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer-location-wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1921px) {
  .footer-location-wrap {
    font-size: 24px;
  }
}
.footer-contacts {
  grid-area: contacts;
  justify-self: end;
}
@media (max-width: 768px) {
  .footer-contacts {
    justify-self: center;
    width: 100%;
  }
}
.footer-contacts-title {
  margin: 8px 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: var(--color-accent);
}
@media (max-width: 768px) {
  .footer-contacts-title {
    display: none;
  }
}
@media (min-width: 1921px) {
  .footer-contacts-title {
    font-size: 32px;
  }
}
.footer-contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media (max-width: 768px) {
  .footer-contacts-list {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .footer-contacts-list {
    flex-wrap: wrap;
  }
}
.footer-contacts-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: right;
  color: var(--color-primary-light);
  transition: color 0.3s;
}
.footer-contacts-link:hover {
  color: var(--color-accent);
}
.footer-contacts-link svg {
  display: block;
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .footer-contacts-link svg {
    width: 17px;
    height: 17px;
  }
}
@media (max-width: 768px) {
  .footer-contacts-link {
    flex-direction: row-reverse;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .footer-contacts-link {
    gap: 14px;
  }
}
@media (min-width: 1921px) {
  .footer-contacts-link {
    font-size: 24px;
  }
}
.footer-socials {
  min-width: 200px;
  grid-area: socials;
  justify-self: end;
  align-self: end;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .footer-socials {
    justify-self: center;
    width: 100%;
  }
}
.footer-socials-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 46px;
  color: #999fa0;
}
@media (max-width: 768px) {
  .footer-socials-list {
    justify-content: space-between;
  }
}
.footer-socials-link {
  color: #999fa0;
  transition: color 0.3s;
}
.footer-socials-link:hover {
  color: var(--color-primary-light);
}
@media (max-width: 1200px) {
  .footer-socials {
    align-self: end;
  }
}
.footer-copyright {
  grid-area: copyright;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 317%;
  letter-spacing: 1vw;
  text-align: center;
  color: var(--color-primary-light);
  opacity: 0.34;
}
@media (max-width: 1200px) {
  .footer-copyright {
    letter-spacing: initial;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer-copyright {
    line-height: normal;
  }
}

.hero {
  position: relative;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}
.hero .swiper-wrapper {
  transition-timing-function: ease-in;
}
.hero-slide {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}
.hero-slide-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 22px;
  width: 100%;
  height: 100svh;
  padding-bottom: 8.7vh;
  overflow-x: hidden;
  background: linear-gradient(180deg, transparent 70%, #171919 90%, #171919 100%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .hero-slide-inner {
    min-height: 520px;
    padding-bottom: 140px;
    row-gap: 16px;
    background: linear-gradient(180deg, transparent 40%, #171919 60%, #171919 100%);
  }
}
@media (min-width: 1921px) {
  .hero-slide-inner {
    row-gap: 28px;
  }
}
.hero-slide-image {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-position: top center;
     object-position: top center;
  transition: transform 1500ms, filter 0.3s, scale 1s;
  scale: 1;
}
.hero-slide:hover .hero-slide-image {
  scale: 1.05;
}
@media (max-width: 1024px) {
  .hero-slide-image {
    height: 70%;
  }
}
.hero-slide-media {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 1500ms, filter 0.3s, scale 1s;
}
@media (max-width: 1024px) {
  .hero-slide-media {
    height: 70%;
  }
}
.hero-slide-poster, .hero-slide-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 1.5s;
}
.hero-slide-video {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease, visibility 2s linear;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slide-video.active {
  opacity: 1;
  visibility: visible;
}
.hero-slide-text-wrap {
  position: relative;
  top: 50svh;
  transform: translate(0, -34%);
}
[data-animation] .hero-slide-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .hero-slide-text-wrap {
    top: auto;
    transform: none;
  }
}
.hero-slide--main {
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .hero-slide--main .hero-slide-inner {
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-inline);
  }
}
.hero-slide--main .border-btn-box {
  align-self: flex-start;
  margin: auto 0 0 8.5vw;
}
@media (max-width: 1024px) {
  .hero-slide--main .border-btn-box {
    align-self: center;
    margin: 0;
  }
}
.hero-slide .button,
.hero-slide .border-btn-box {
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}
.hero-licence-img {
  position: absolute;
  top: 34px;
  display: block;
}
.hero-licence-img--left {
  right: calc(50% + 25px);
}
@media (max-width: 1024px) {
  .hero-licence-img--left {
    right: calc(50% + 182px);
  }
}
@media (max-width: 768px) {
  .hero-licence-img--left {
    width: 52px;
    height: auto;
    right: calc(50% + 8px);
  }
}
.hero-licence-img--right {
  left: calc(50% + 8px);
}
@media (max-width: 1024px) {
  .hero-licence-img--right {
    left: calc(50% + 182px);
  }
}
@media (max-width: 768px) {
  .hero-licence-img--right {
    width: 61px;
    height: auto;
    left: calc(50% + 8px);
  }
}
@media (max-width: 1024px) {
  .hero-licence-img {
    top: auto;
    bottom: 140px;
  }
}
@media (max-width: 768px) {
  .hero-licence-img {
    bottom: auto;
    top: 24vh;
  }
}
.hero-energising-wrap {
  width: 1440px;
  height: 74px;
  position: relative;
}
.hero-energising-wrap .left {
  position: absolute;
  top: 50%;
  right: calc(50% + 245px);
  transform: translate(0, -50%);
}
.hero-energising-wrap .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.hero-energising-wrap .right {
  position: absolute;
  top: 50%;
  left: calc(50% + 245px);
  transform: translate(0, -50%);
}
@media (max-width: 1024px) {
  .hero-energising-wrap {
    display: none;
  }
}
.hero-future {
  position: relative;
  display: block;
  margin: 24px auto 34px;
  overflow: hidden;
}
.hero-future .hero-title-cover {
  background: var(--color-primary-light);
}
@media (max-width: 1024px) {
  .hero-future {
    display: none;
  }
}
.hero-title {
  position: relative;
  font-weight: 700;
  font-size: 86px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
}
@media (max-width: 1024px) {
  .hero-title {
    font-size: clamp(3rem, 1.6277rem + 5.8552vw, 5.375rem);
  }
}
@media (min-width: 1921px) {
  .hero-title {
    font-size: 114px;
  }
}
.hero-slide--main .hero-title {
  font-size: 0px;
}
@media (max-width: 1024px) {
  .hero-slide--main .hero-title {
    font-size: clamp(3rem, 1.6277rem + 5.8552vw, 5.375rem);
    margin-bottom: 22px;
  }
}
.hero-title span {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.hero-title span.accent-color {
  color: var(--color-accent);
}
.hero-title::before, .hero-title::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  display: block;
  width: 408px;
  height: 20px;
  background: url(../img/main-title-element.svg) no-repeat center/contain;
}
.hero-slide--main .hero-title::before, .hero-slide--main .hero-title::after {
  display: none;
}
@media (max-width: 1024px) {
  .hero-title::before, .hero-title::after {
    display: none;
  }
}
@media (min-width: 1921px) {
  .hero-title::before, .hero-title::after {
    width: 544px;
    height: 26px;
  }
}
.hero-title::before {
  right: calc(100% + 28px);
}
@media (min-width: 1921px) {
  .hero-title::before {
    right: calc(100% + 36px);
  }
}
.hero-title::after {
  left: calc(100% + 28px);
  transform: translate(0, -50%) rotate(180deg);
}
@media (min-width: 1921px) {
  .hero-title::after {
    left: calc(100% + 36px);
  }
}
.hero-title-wrapper {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .hero-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero-title-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  z-index: 2;
}
@media (max-width: 1024px) {
  .hero-title-cover--desktop {
    display: none;
  }
}
.hero-title-cover--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .hero-title-cover--mobile {
    display: block;
  }
}
.hero-description {
  position: relative;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 24px;
  line-height: 173%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
@media (max-width: 1024px) {
  .hero-description {
    color: #9a9da2;
    margin-bottom: 38px;
    font-size: 16px;
  }
}
@media (min-width: 1921px) {
  .hero-description {
    margin-bottom: 10px;
    font-size: 32px;
  }
}
.hero-slide--main .hero-description {
  font-weight: 500;
  font-size: 22px;
}
@media (max-width: 1024px) {
  .hero-slide--main .hero-description {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
  }
}
@media (min-width: 1921px) {
  .hero-slide--main .hero-description {
    font-size: 28px;
  }
}
.hero-button {
  position: absolute;
  bottom: 8.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px;
  flex-shrink: 0;
  opacity: 0.7;
  transition: opacity 0.3s, width 0.5s;
  z-index: 2;
  font-size: 0;
}
@media (max-width: 1024px) {
  .hero-button {
    bottom: 46px;
  }
}
.hero-button--next {
  right: 8.5vw;
}
.hero-button--prev {
  right: 12.5vw;
  transform: rotate(180deg);
}
.hero-button--prev::before {
  transform-origin: left;
}
.not-first-slide .hero-button--prev {
  right: auto;
  left: 8.5vw;
}
@media (max-width: 1024px) {
  .hero-button--prev {
    right: auto;
    left: 8.5vw;
  }
}
.hero-button:hover {
  opacity: 1;
}
.hero-button::after {
  width: 12px;
  height: 12px;
}
.hero-button::before {
  right: -18px;
}
.hero-button.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hero .swiper-horizontal > .swiper-pagination-bullets,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-pagination-custom,
.hero .swiper-pagination-fraction {
  bottom: 60px;
  z-index: 1;
}
.hero .swiper-pagination-bullet {
  background: var(--color-primary-light);
  opacity: 0.9;
  width: 4px;
  height: 4px;
}
.hero .swiper-pagination-bullet-active {
  background: var(--color-accent);
}

.precision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  padding: 91px 0 520px;
  background: url(../img/precision_logo.svg) no-repeat center bottom 68px/1210px auto, var(--gradient-bg-light);
  background-blend-mode: overlay, normal;
}
@media (max-width: 1200px) {
  .precision {
    padding: 54px 0 440px;
    background: url(../img/precision_logo.svg) no-repeat center bottom 48px/1024px auto, var(--gradient-bg-light);
  }
}
@media (max-width: 1024px) {
  .precision {
    padding: 36px 0 200px;
    background: url(../img/precision_logo.svg) no-repeat center bottom 38px/376px auto, var(--gradient-bg-light);
  }
}
.precision-text {
  max-width: 926px;
  margin: 0 var(--padding-inline);
  font-weight: 400;
  font-size: 20px;
  line-height: 148%;
  text-align: justify;
  color: var(--color-primary-dark);
}
@media (max-width: 1024px) {
  .precision-text {
    font-size: 14px;
  }
}
@media (min-width: 1921px) {
  .precision-text {
    max-width: 1200px;
    font-size: 24px;
  }
}
.precision-text p {
  margin: 0 auto;
}
.precision-text p:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1024px) {
  .precision-text p:not(:last-child) {
    margin-bottom: 18px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 146px 0 249px;
}
@media (max-width: 1200px) {
  .services {
    padding: 106px 0 200px;
  }
}
@media (max-width: 1024px) {
  .services {
    padding: 42px 0 32px;
  }
}
.services-wrapper {
  margin: 122px 0 132px;
  list-style: none;
}
@media (max-width: 1024px) {
  .services-wrapper {
    margin: 50px 0;
    width: 100%;
    padding: 0 var(--padding-inline);
  }
}
@media (max-width: 576px) {
  .services-wrapper {
    padding: 0;
  }
}
.services-text {
  margin: 0 var(--padding-inline);
  font-weight: 500;
  font-size: 24px;
  line-height: 176%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .services-text {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .services-text {
    font-size: 14px;
  }
}
@media (min-width: 1921px) {
  .services-text {
    font-size: 30px;
  }
}

.service {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
  padding: 36px var(--padding-inline);
}
@media (max-width: 1200px) {
  .service {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 1024px) {
  .service {
    padding: 0 0 48px;
    gap: 48px;
    width: 100%;
    flex-direction: column-reverse;
  }
}
.service--invert {
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .service--invert {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 1024px) {
  .service--invert {
    flex-direction: column-reverse;
    gap: 48px;
  }
}
.service-text-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 65px 0;
  transition: transform 0.5s;
}
@media (max-width: 1200px) {
  .service-text-wrap {
    padding: 30px 0;
  }
}
@media (max-width: 1024px) {
  .service-text-wrap {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .service-text-wrap {
    padding: 0 var(--padding-inline);
  }
}
.service-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 54px;
  line-height: 97%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  z-index: 1;
}
@media (max-width: 1200px) {
  .service-title {
    font-size: 44px;
  }
}
@media (max-width: 1024px) {
  .service-title {
    font-size: 34px;
  }
  .service-title span {
    color: var(--color-accent);
  }
}
@media (min-width: 1921px) {
  .service-title {
    margin-bottom: 24px;
    font-size: 68px;
  }
}
.service-subtitle {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  color: var(--color-accent);
}
@media (max-width: 1200px) {
  .service-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .service-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 1921px) {
  .service-subtitle {
    margin-bottom: 36px;
    font-size: 30px;
  }
}
.service-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 148%;
  text-align: justify;
}
.service-text:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .service-text {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .service-text {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 1921px) {
  .service-text {
    font-size: 24px;
  }
}
.service-image {
  flex-shrink: 0;
  position: relative;
  width: 50%;
  aspect-ratio: 1.13;
  border-radius: 120px 0 0 120px;
  overflow: hidden;
}
.service--invert .service-image {
  border-radius: 0 120px 120px 0;
}
@media (max-width: 1024px) {
  .service--invert .service-image {
    border-radius: 0;
  }
}
@media (max-width: 1024px) {
  .service-image {
    width: 100%;
    border-radius: 0;
    aspect-ratio: auto;
    height: 340px;
  }
}
@media (max-width: 576px) {
  .service-image {
    height: 230px;
  }
}
.service-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(221deg, rgba(247, 141, 30, 0.4) 0%, rgba(247, 141, 30, 0.4) 100%);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}
.service-image:hover::before {
  opacity: 0.5;
}
.service-image:hover::after {
  background-color: var(--color-accent);
}
.service-image:hover img {
  transform: scale(1.05);
  filter: grayscale(0%) brightness(1);
}
.service-image::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  display: block;
  width: 18px;
  background: transparent linear-gradient(180deg, #f78d1e 0%, rgba(247, 141, 30, 0) 100%);
  z-index: 3;
  transition: background-color 0.7s;
}
@media (max-width: 1024px) {
  .service-image::after {
    inset: auto 0 0 0;
    width: auto;
    height: 8px;
    background: linear-gradient(270deg, #ff8200 0%, #6b4c2c 32.06%, #ffffff 69.7%, #ff8200 100%);
    opacity: 0.76;
  }
}
.service--invert .service-image::after {
  inset: 0 auto 0 0;
}
@media (max-width: 1024px) {
  .service--invert .service-image::after {
    inset: auto 0 0 0;
  }
}
@media (min-width: 1921px) {
  .service-image::after {
    width: 24px;
  }
}
.service-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark);
  z-index: 2;
}
.service-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s, filter 0.5s;
  filter: grayscale(100%) brightness(0.7);
}
@media (max-width: 1024px) {
  .service-image img {
    filter: grayscale(0) brightness(0.9);
  }
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  padding: 135px 0 584px;
  background: url(../img/MAP.svg) no-repeat center bottom 48px/contain, var(--gradient-bg-light);
}
@media (max-width: 1024px) {
  .map {
    padding: 53px 0 260px;
    background: url(../img/MAP.svg) no-repeat center bottom 24px/contain, var(--gradient-bg-light);
  }
}
.map-description {
  max-width: 840px;
  margin: 0 var(--padding-inline) 104px;
  font-weight: 500;
  font-size: 20px;
  line-height: 168%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}
@media (max-width: 1024px) {
  .map-description {
    font-size: 14px;
    margin: 0 var(--padding-inline) 40px;
  }
}
@media (max-width: 576px) {
  .map-description {
    margin-bottom: 20px;
  }
}
@media (min-width: 1921px) {
  .map-description {
    font-size: 26px;
  }
}

.counters-wrap {
  --column-gap: 26px;
  --row-gap: 26px;
  --column-count: 4;
  display: grid;
  grid-template-columns: repeat(var(--column-count), calc((100% - var(--column-gap) * (var(--column-count) - 1)) / var(--column-count)));
  gap: var(--row-gap) var(--column-gap);
  width: 100%;
  list-style: none;
}
@media (max-width: 1200px) {
  .counters-wrap {
    --row-gap: 48px;
    --column-count: 2;
  }
}
@media (max-width: 768px) {
  .counters-wrap {
    --column-gap: 16px;
    --row-gap: 26px;
  }
}

.counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 68px 40px 40px;
  border-radius: 8px;
  background: radial-gradient(circle at top center, transparent 35px, rgba(220, 223, 222, 0.8) 36px);
  filter: drop-shadow(0px 4px 46.2px rgba(0, 0, 0, 0.1));
}
@media (max-width: 1024px) {
  .counter {
    background: radial-gradient(circle at top center, transparent 35px, rgba(153, 159, 160, 0.5019607843) 36px);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
@media (max-width: 768px) {
  .counter {
    padding: 48px 20px 20px;
    background: radial-gradient(circle at top center, transparent 25px, rgba(153, 159, 160, 0.5019607843) 26px);
  }
}
@media (max-width: 576px) {
  .counter {
    padding: 28px 16px 16px;
  }
}
.counter-img {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 768px) {
  .counter-img {
    top: -20px;
    width: 40px;
    height: 40px;
  }
  .counter-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
}
.counter-count {
  font-weight: 700;
  font-size: 102px;
  line-height: 97%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
  transition: filter 0.7s;
}
.counter:hover .counter-count {
  filter: var(--filter-accent-glow);
}
@media (max-width: 1024px) {
  .counter-count {
    font-size: 78px;
  }
}
@media (max-width: 768px) {
  .counter-count {
    font-size: 54px;
  }
}
@media (min-width: 1921px) {
  .counter-count {
    font-size: 130px;
  }
}
.counter-plus {
  font-weight: 700;
  font-size: 48px;
  line-height: 97%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
  transition: filter 0.7s;
}
.counter:hover .counter-plus {
  filter: var(--filter-accent-glow);
}
@media (max-width: 1024px) {
  .counter-plus {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .counter-plus {
    font-size: 28px;
  }
}
@media (min-width: 1921px) {
  .counter-plus {
    font-size: 62px;
  }
}
.counter-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  text-transform: uppercase;
  color: #505353;
}
@media (max-width: 1024px) {
  .counter-description {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .counter-description {
    font-size: 14px;
    line-height: normal;
  }
}
@media (min-width: 1921px) {
  .counter-description {
    font-size: 24px;
  }
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  padding: 126px 0 170px;
}
@media (max-width: 1024px) {
  .why-us {
    padding: 48px 0;
    gap: 48px;
  }
}
.why-us-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 173%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .why-us-text {
    font-size: 14px;
    padding: 0 var(--padding-inline);
  }
}
@media (min-width: 1921px) {
  .why-us-text {
    font-size: 26px;
  }
}
.why-us-list {
  margin-top: 78px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
}
@media (max-width: 1200px) {
  .why-us-list {
    grid-template-columns: repeat(2, calc(50% - 8px));
  }
}
@media (max-width: 1024px) {
  .why-us-list {
    margin-top: 0;
  }
}

.feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 292px;
  border-radius: 4px;
  background: url(../img/noise.png), linear-gradient(244.75deg, #2f2f2f -36.13%, #505353 97.37%);
  box-shadow: inset 84px -198px 235px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.7s;
  overflow: hidden;
  --glow-size: 24px;
  --glow-color: rgb(247 141 30 / 80%);
}
.feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 150%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  filter: blur(5px);
  transition: left 1s ease;
  z-index: 3;
}
.feature::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, var(--color-accent));
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}
.feature:hover {
  box-shadow: 0 0 var(--glow-size) var(--glow-color);
}
.feature:hover::before {
  left: 125%;
}
.feature:hover::after {
  opacity: 0.3;
}
@media (max-width: 768px) {
  .feature {
    width: 100%;
    aspect-ratio: 1;
    min-height: auto;
  }
}
@media (min-width: 1921px) {
  .feature {
    min-height: 342px;
  }
}
.feature-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, opacity 0.7s;
}
.feature:hover .feature-img {
  transform: translate(-50%, -50%) scale(1.1);
}
@media (max-width: 768px) {
  .feature-img {
    width: 90%;
    height: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
}
.feature-name {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
  z-index: 4;
}
.feature-name span {
  display: block;
  color: var(--color-accent);
}
@media (max-width: 1024px) {
  .feature-name {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .feature-name {
    font-size: 20px;
  }
}
@media (min-width: 1921px) {
  .feature-name {
    font-size: 42px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  padding: 109px 0 71px;
  background: var(--gradient-bg-light);
}
@media (max-width: 1024px) {
  .projects {
    padding: 48px 0;
  }
}
.projects .section-title {
  margin-bottom: 98px;
}
@media (max-width: 1024px) {
  .projects .section-title {
    margin-bottom: 48px;
  }
}
.projects-text {
  max-width: 920px;
  margin: 60px var(--padding-inline) 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 176%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}
@media (max-width: 1200px) {
  .projects-text {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .projects-text {
    margin: 30px var(--padding-inline) 0;
    font-size: 14px;
  }
}
@media (min-width: 1921px) {
  .projects-text {
    max-width: 1200px;
    font-size: 32px;
  }
}
.projects .swiper {
  width: 100%;
}
.projects-list {
  list-style: none;
  width: 100%;
}
.projects .swiper-wrapper {
  transition-timing-function: linear !important;
}

.project {
  position: relative;
  aspect-ratio: 534/370;
  border-radius: 4px;
  overflow: hidden;
  transition: filter 0.5s;
}
.project::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(136.99deg, #f78d1e 24.32%, rgba(255, 255, 255, 0) 215.32%);
  mix-blend-mode: overlay;
  opacity: 0;
  z-index: 2;
}
.project.main-slide::before {
  opacity: 1;
}
.project:hover img {
  filter: none;
  transform: scale(1.2);
}
.project img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform-origin: center;
  transition: all 0.5s;
  filter: grayscale(100%) brightness(0.8);
  z-index: 1;
}
.project .project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 46px;
  line-height: 99%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
  text-shadow: 0px 4px 33.4px rgba(0, 0, 0, 0.5098039216);
  z-index: 3;
}
@media (max-width: 1200px) {
  .project .project-name {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .project .project-name {
    font-size: 26px;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  padding: 130px 0 130px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .clients {
    padding: 140px 0;
    gap: 80px;
  }
}
@media (max-width: 1024px) {
  .clients {
    padding: 76px 0;
    gap: 48px;
  }
}
.clients-wrapper {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0 var(--padding-inline);
}
@media (max-width: 1024px) {
  .clients-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.client {
  position: relative;
  width: 100%;
  aspect-ratio: 1.8;
  opacity: 0.7;
  transition: all 0.3s;
}
.client:hover {
  opacity: 1;
}
.client:hover img {
  transform: translate(-50%, -50%) scale(1.4);
}
.client img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  -o-object-position: center;
     object-position: center;
  transform-origin: center;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .client {
    opacity: 1;
  }
}

.contacts {
  padding: 80px 0 146px;
  background: var(--color-accent);
}
.contacts-container {
  display: flex;
  flex-direction: column;
}
.contacts .section-title {
  display: inline-block;
  margin: 0 auto 60px;
}
.contacts .section-title span {
  color: var(--color-primary-light);
}
@media (max-width: 1200px) {
  .contacts .section-title {
    margin-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .contacts .section-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .contacts {
    padding: 120px 0;
  }
}
@media (max-width: 1024px) {
  .contacts {
    padding: 76px 0;
  }
}
.contacts-types {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 123px;
  margin: 0 auto;
}
.contacts-types li {
  width: 100%;
  max-width: 316px;
}
@media (max-width: 1024px) {
  .contacts-types {
    flex-direction: column;
    gap: 24px;
  }
}/*# sourceMappingURL=index.css.map */