@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #2b2f2f;
  --color-text: #c5c5c5;
  --color-accent: #f78d1e;
  --color-bg-dark: #282928;
  --gradient-bg-light: url(../img/noise.png),
    linear-gradient(128.58deg, #e7e9e8 1.23%, #9a9da2 128.79%);
  --font-family: "Barlow", Arial, Helvetica, system-ui, sans-serif;
  --padding-inline: 8.5vw;
}

html,
body {
  scroll-behavior: smooth;
  background: var(--color-primary-dark);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2560px;
  min-height: 100svh;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg-dark);
}

main {
  margin-bottom: auto;
  overflow-x: hidden;
}

a,
a:is(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: transparent;
}

.container {
  width: 100%;
  padding: 0 var(--padding-inline);
}

.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
}
.section-title--dark {
  color: var(--color-primary-dark);
}
.section-title span {
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  .section-title {
    font-size: 110px;
  }
}

.title-dots::before, .title-dots::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  display: block;
  width: 303px;
  height: 6px;
  background: url(../img/section-title-element.svg) no-repeat center/contain;
}
.hero-slide--main .title-dots::before, .hero-slide--main .title-dots::after {
  display: none;
}
@media (min-width: 1921px) {
  .title-dots::before, .title-dots::after {
    width: 480px;
    height: 8px;
  }
}
.title-dots::before {
  right: calc(100% + 24px);
}
.title-dots::after {
  left: calc(100% + 24px);
  transform: translate(0, -50%) rotate(180deg);
}
.title-dots--light::before {
  right: calc(100% + 24px);
  transform: rotate(180deg);
}
.title-dots--light::after {
  left: calc(100% + 24px);
  transform: translate(0, -50%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 316px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid var(--color-primary-light);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: all 0.3s linear;
}
@media (min-width: 1921px) {
  .button {
    max-width: 420px;
    gap: 8px;
    padding: 15px;
    border-radius: 8px;
    font-size: 26px;
  }
  .button svg {
    width: 38px;
    height: 46px;
  }
}
.button:hover {
  color: var(--color-primary-light);
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  box-shadow: 0 0 48px rgba(247, 141, 30, 0.5098039216);
  transform: scale(1.05);
}
@media (min-width: 1921px) {
  .button:hover {
    box-shadow: 0 0 56vw rgba(247, 141, 30, 0.5098039216);
  }
}
.button--on-accent:hover {
  color: var(--color-primary-light);
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}

.custom-cursor {
  position: fixed;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 9999;
  transition-property: width, height, background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.96, 0.34, 1);
  border-radius: 50%;
  background: var(--color-accent);
  overflow: hidden;
}
.custom-cursor--on-accent {
  background: var(--color-bg-dark);
}

.custom-cursor.hover {
  width: 65px;
  height: 65px;
  background: rgba(247, 141, 30, 0.15);
  box-shadow: 0 0 30px rgba(247, 141, 30, 0.8);
}
.custom-cursor.hover--on-accent {
  background: var(--color-bg-dark);
  box-shadow: 0 0 30px var(--color-bg-dark);
}

.header {
  position: absolute;
  inset: 0 0 auto;
  z-index: 10;
}
.header h1 {
  font-size: 0;
}
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 41px var(--padding-inline);
}
.header-nav-wrapper {
  position: relative;
}
.header-burger {
  position: relative;
  width: 32px;
  height: 24px;
  margin-top: 4px;
}
.header-burger:hover {
  color: var(--color-primary-dark);
}
.header-burger svg {
  display: block;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s, color 0.3s;
}
.header-burger .opened {
  opacity: 0;
}
.js-opened .header-burger .opened {
  opacity: 1;
}
.header-burger .closed {
  opacity: 1;
}
.js-opened .header-burger .closed {
  opacity: 0;
}
.header-nav {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.js-opened .header-nav {
  height: 170px;
  opacity: 1;
}
.js-opened .header-nav .header-nav-list {
  visibility: visible;
}
@media (min-width: 1921px) {
  .js-opened .header-nav {
    height: 270px;
  }
}
.header-nav-list {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
}
@media (min-width: 1921px) {
  .header-nav-list {
    gap: 20px;
  }
}
.header-nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  transition: color 0.3s;
}
.header-nav-link:hover {
  color: var(--color-primary-light);
}
@media (min-width: 1921px) {
  .header-nav-link {
    font-size: 24px;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo contacts" "title contacts" "location socials" "copyright copyright";
  row-gap: 30px;
  padding: 116px var(--padding-inline) 44px;
}
.footer-logo {
  grid-area: logo;
  justify-self: start;
}
.footer-title {
  grid-area: title;
  margin: 4px 0 8px;
  font-weight: 700;
  font-size: 42px;
  line-height: 106%;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
.footer-title span {
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  .footer-title {
    font-size: 54px;
  }
}
.footer-location-wrap {
  grid-area: location;
  display: flex;
  align-items: flex-start;
  gap: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: lowercase;
}
.footer-location-wrap a {
  color: var(--color-primary-light);
  transition: color 0.3s;
}
.footer-location-wrap a span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-accent);
}
.footer-location-wrap a:hover {
  color: var(--color-accent);
}
@media (max-width: 1200px) {
  .footer-location-wrap {
    flex-direction: column;
    font-size: 16px;
    gap: 24px;
  }
  .footer-location-wrap br {
    display: none;
  }
}
@media (min-width: 1921px) {
  .footer-location-wrap {
    font-size: 24px;
  }
}
.footer-contacts {
  grid-area: contacts;
  justify-self: end;
}
.footer-contacts-title {
  margin: 8px 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  .footer-contacts-title {
    font-size: 32px;
  }
}
.footer-contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-contacts-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: right;
  color: var(--color-primary-light);
  transition: color 0.3s;
}
.footer-contacts-link:hover {
  color: var(--color-accent);
}
.footer-contacts-link svg {
  display: block;
  flex-shrink: 0;
}
@media (min-width: 1921px) {
  .footer-contacts-link {
    font-size: 24px;
  }
}
.footer-socials {
  grid-area: socials;
  justify-self: end;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-socials-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 46px;
  color: #999fa0;
}
.footer-socials-link {
  color: #999fa0;
  transition: color 0.3s;
}
.footer-socials-link:hover {
  color: var(--color-primary-light);
}
@media (max-width: 1200px) {
  .footer-socials {
    align-self: end;
  }
}
.footer-copyright {
  grid-area: copyright;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 317%;
  letter-spacing: 1vw;
  text-align: center;
  color: var(--color-primary-light);
  opacity: 0.34;
}
@media (max-width: 1200px) {
  .footer-copyright {
    letter-spacing: initial;
  }
}

.hero {
  position: relative;
}
.hero .swiper-wrapper {
  transition-timing-function: ease-in;
}
.hero-slide {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}
.hero-slide-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 22px;
  width: 100%;
  height: 100svh;
  padding-bottom: 8.7vh;
  overflow-x: hidden;
}
@media (min-width: 1921px) {
  .hero-slide-inner {
    row-gap: 28px;
  }
}
.hero-slide-image {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-position: top center;
     object-position: top center;
  transition: transform 1500ms, filter 0.3s, scale 1s;
  filter: grayscale(100%) brightness(0.5) contrast(0.9);
  scale: 1;
}
.hero-slide:hover .hero-slide-image {
  filter: grayscale(0%) brightness(0.5);
  scale: 1.05;
}
.hero-slide-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
@media (min-width: 1921px) {
  .hero-slide-bottom {
    gap: 56px;
  }
}
.hero-slide-text-wrap {
  position: relative;
  top: 50svh;
  transform: translate(0, -39%);
}
@media (min-width: 1921px) {
  .hero-slide-text-wrap img {
    width: 1920px;
    height: auto;
  }
}
.hero-slide--main {
  justify-content: flex-start;
}
.hero-slide--main .button {
  align-self: flex-start;
  margin: auto 0 0 8.5vw;
}
.hero-slide .button {
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}
.hero-title {
  position: relative;
  font-weight: 700;
  font-size: 86px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
}
@media (min-width: 1921px) {
  .hero-title {
    font-size: 114px;
  }
}
.hero-slide--main .hero-title {
  font-size: 0px;
}
.hero-title span {
  color: var(--color-accent);
}
.hero-title::before, .hero-title::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  display: block;
  width: 408px;
  height: 20px;
  background: url(../img/main-title-element.svg) no-repeat center/contain;
}
.hero-slide--main .hero-title::before, .hero-slide--main .hero-title::after {
  display: none;
}
@media (min-width: 1921px) {
  .hero-title::before, .hero-title::after {
    width: 544px;
    height: 26px;
  }
}
.hero-title::before {
  right: calc(100% + 28px);
}
@media (min-width: 1921px) {
  .hero-title::before {
    right: calc(100% + 36px);
  }
}
.hero-title::after {
  left: calc(100% + 28px);
  transform: translate(0, -50%) rotate(180deg);
}
@media (min-width: 1921px) {
  .hero-title::after {
    left: calc(100% + 36px);
  }
}
.hero-description {
  position: relative;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 24px;
  line-height: 173%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
@media (min-width: 1921px) {
  .hero-description {
    margin-bottom: 10px;
    font-size: 32px;
  }
}
.hero-slide--main .hero-description {
  font-weight: 500;
  font-size: 22px;
  margin-top: -110px;
}
@media (min-width: 1921px) {
  .hero-slide--main .hero-description {
    margin-top: -146px;
    font-size: 28px;
  }
}
.hero-button {
  position: absolute;
  bottom: 11.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  aspect-ratio: 1;
  flex-shrink: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  z-index: 2;
}
.hero-button--next {
  right: 8.5vw;
  transform: rotate(180deg);
}
.hero-button--prev {
  right: 10.5vw;
}
.not-first-slide .hero-button--prev {
  right: auto;
  left: 8.5vw;
}
.hero-button:hover {
  opacity: 1;
}
.not-first-slide .hero-button {
  bottom: 8.7vh;
}

.precision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 38px;
  padding: 54px 0 569px;
  background: url(../img/precision_logo.svg) no-repeat center bottom, var(--gradient-bg-light);
  background-blend-mode: overlay, normal;
}
@media (max-width: 1200px) {
  .precision {
    padding: 54px 0 440px;
    background: url(../img/precision_logo.svg) no-repeat center bottom/1024px auto, var(--gradient-bg-light);
  }
}
.precision-text {
  max-width: 926px;
  margin: 0 var(--padding-inline);
  font-weight: 400;
  font-size: 20px;
  line-height: 148%;
  text-align: center;
  color: var(--color-primary-dark);
}
@media (min-width: 1921px) {
  .precision-text {
    max-width: 1200px;
    font-size: 24px;
  }
}
.precision-text p {
  margin: 0 auto;
}
.precision-text p:not(:last-child) {
  margin-bottom: 28px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 146px 0 249px;
}
@media (max-width: 1200px) {
  .services {
    padding: 106px 0 200px;
  }
}
.services-wrapper {
  margin: 122px 0 132px;
  list-style: none;
}
.services-text {
  margin: 0 var(--padding-inline);
  font-weight: 500;
  font-size: 24px;
  line-height: 176%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .services-text {
    font-size: 20px;
  }
}
@media (min-width: 1921px) {
  .services-text {
    font-size: 30px;
  }
}

.service {
  display: flex;
  -moz-column-gap: 138px;
       column-gap: 138px;
  padding: 36px 0 36px var(--padding-inline);
}
.service--invert {
  flex-direction: row-reverse;
  -moz-column-gap: 96px;
       column-gap: 96px;
  padding: 36px var(--padding-inline) 36px 0;
}
@media (max-width: 1200px) {
  .service--invert {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 1200px) {
  .service {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
.service-text-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 65px 0;
  transition: transform 0.5s;
}
@media (max-width: 1200px) {
  .service-text-wrap {
    padding: 30px 0;
  }
}
.service-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 54px;
  line-height: 97%;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
@media (max-width: 1200px) {
  .service-title {
    font-size: 44px;
  }
}
@media (min-width: 1921px) {
  .service-title {
    margin-bottom: 24px;
    font-size: 68px;
  }
}
.service-subtitle {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 22px;
  line-height: 97%;
  text-transform: uppercase;
  color: var(--color-accent);
}
@media (max-width: 1200px) {
  .service-subtitle {
    font-size: 18px;
  }
}
@media (min-width: 1921px) {
  .service-subtitle {
    margin-bottom: 36px;
    font-size: 28px;
  }
}
.service-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 148%;
}
.service-text:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .service-text {
    font-size: 14px;
  }
}
@media (min-width: 1921px) {
  .service-text {
    font-size: 22px;
  }
}
.service-image {
  flex-shrink: 0;
  position: relative;
  width: 49.5%;
  aspect-ratio: 1.13;
  border-radius: 120px 0 0 120px;
  overflow: hidden;
}
.service--invert .service-image {
  border-radius: 0 120px 120px 0;
}
.service-image::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  display: block;
  width: 18px;
  background: linear-gradient(180deg, #f78d1e 0%, rgba(247, 141, 30, 0) 100%);
}
.service--invert .service-image::after {
  inset: 0 auto 0 0;
}
@media (min-width: 1921px) {
  .service-image::after {
    width: 24px;
  }
}
.service-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark);
  z-index: 2;
}
.service-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.service:hover .service-image img {
  transform: scale(1.05);
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  padding: 135px 0 544px;
  background: url(../img/map.png) no-repeat center bottom, var(--gradient-bg-light);
}
.map-description {
  max-width: 840px;
  margin: 0 var(--padding-inline) 104px;
  font-weight: 500;
  font-size: 20px;
  line-height: 168%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}
@media (min-width: 1921px) {
  .map-description {
    font-size: 26px;
  }
}

.counters-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 26px;
       column-gap: 26px;
  width: 100%;
  list-style: none;
}
@media (max-width: 1200px) {
  .counters-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 26px;
  }
}

.counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 68px 40px 40px;
  border-radius: 8px;
  background: radial-gradient(circle at top center, transparent 35px, rgba(220, 223, 222, 0.8) 36px);
  filter: drop-shadow(0px 4px 46.2px rgba(0, 0, 0, 0.1));
}
.counter-img {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}
.counter-count {
  font-weight: 700;
  font-size: 102px;
  line-height: 97%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
@media (min-width: 1921px) {
  .counter-count {
    font-size: 130px;
  }
}
.counter-plus {
  font-weight: 700;
  font-size: 48px;
  line-height: 97%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
@media (min-width: 1921px) {
  .counter-plus {
    font-size: 62px;
  }
}
.counter-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  text-transform: uppercase;
  color: #505353;
}
@media (min-width: 1921px) {
  .counter-description {
    font-size: 24px;
  }
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  padding: 126px 0 170px;
}
.why-us-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 173%;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1921px) {
  .why-us-text {
    font-size: 26px;
  }
}
.why-us-list {
  margin-top: 78px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
}
@media (max-width: 1200px) {
  .why-us-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 292px;
  border-radius: 4px;
  background: url(../img/noise.png), linear-gradient(244.75deg, #2f2f2f -36.13%, #505353 97.37%);
  box-shadow: inset 84px -198px 235px 0 rgba(0, 0, 0, 0.25);
}
@media (min-width: 1921px) {
  .feature {
    min-height: 342px;
  }
}
.feature-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
}
.feature:hover .feature-img {
  transform: translate(-50%, -50%) scale(1.1);
}
.feature-name {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
.feature-name span {
  display: block;
  color: var(--color-accent);
}
@media (min-width: 1921px) {
  .feature-name {
    font-size: 42px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
  padding: 109px 0 71px;
  background: var(--gradient-bg-light);
}
.projects .section-title {
  margin-bottom: 98px;
}
.projects-text {
  max-width: 920px;
  margin: 60px var(--padding-inline) 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 176%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}
@media (max-width: 1200px) {
  .projects-text {
    font-size: 20px;
  }
}
@media (min-width: 1921px) {
  .projects-text {
    max-width: 1200px;
    font-size: 32px;
  }
}
.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  width: 100%;
  padding: 0 var(--padding-inline);
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 11px;
  width: 100%;
  aspect-ratio: 1;
  padding: 32px 30px;
  border-radius: 4px;
  overflow: hidden;
}
.project-link {
  font-size: 0;
  position: absolute;
  inset: 0;
  display: none;
}
.project-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background: var(--color-primary-dark);
  filter: grayscale(1);
  transition: filter 0.4s;
}
.project-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
  opacity: 0;
  transition: opacity 0.4s;
}
.project-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark);
  z-index: 2;
}
.project-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project:hover .project-img {
  filter: grayscale(0);
}
.project:hover .project-img::after {
  opacity: 1;
}
@media (max-width: 1200px) {
  .project-img {
    filter: grayscale(0);
  }
  .project-img::after {
    opacity: 1;
  }
}
.project-name {
  position: relative;
  font-weight: 700;
  font-size: 52px;
  line-height: 99%;
  text-transform: uppercase;
  color: var(--color-primary-light);
  opacity: 0;
  top: 10px;
  transition: opacity 0s, top 0s;
  transition-delay: 0s;
}
.project:hover .project-name {
  opacity: 1;
  top: 0;
  transition: opacity 0.7s, top 0.5s;
  transition-delay: 0.4s;
}
@media (max-width: 1200px) {
  .project-name {
    opacity: 1;
    top: 0;
    font-size: 38px;
  }
}
@media (min-width: 1921px) {
  .project-name {
    font-size: 64px;
  }
}
.project-description {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 99%;
  color: var(--color-accent);
  opacity: 0;
  top: 10px;
  transition: opacity 0s, top 0s;
  transition-delay: 0s;
}
.project:hover .project-description {
  opacity: 1;
  top: 0;
  transition: opacity 0.7s, top 0.5s;
  transition-delay: 0.6s;
}
@media (max-width: 1200px) {
  .project-description {
    opacity: 1;
    top: 0;
    font-size: 18px;
  }
}
@media (min-width: 1921px) {
  .project-description {
    font-size: 26px;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 110px;
  padding: 282px 0;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .clients {
    padding: 140px 0;
    gap: 80px;
  }
}
.clients-wrapper {
  width: 100%;
}
@media (max-width: 1200px) {
  .clients-wrapper {
    padding: 0 var(--padding-inline);
  }
}
.clients-wrapper .swiper-wrapper {
  transition-timing-function: linear;
}
@media (max-width: 1200px) {
  .clients-wrapper .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

.client {
  position: relative;
  height: auto;
  min-height: 104px;
  opacity: 0.7;
  transition: all 0.3s;
}
.client:hover {
  opacity: 1;
}
.client:hover img {
  width: 100%;
  height: 100%;
}
.client img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  -o-object-position: center;
     object-position: center;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .client {
    opacity: 1;
  }
}

.contacts {
  padding: 152px 0 158px;
  background: var(--color-accent);
}
.contacts .section-title {
  margin-bottom: 100px;
}
.contacts .section-title span {
  color: var(--color-primary-light);
}
.contacts-types {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 123px;
  margin: 0 auto;
}
.contacts-types li {
  width: 100%;
  max-width: 316px;
}/*# sourceMappingURL=index.css.map */