@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #2b2f2f;
  --color-text: #c5c5c5;
  --color-accent: #f78d1e;
  --color-bg-dark: #282928;
  --gradient-bg-light: linear-gradient(
    128.58deg,
    #e7e9e8 1.23%,
    #9a9da2 128.79%
  );
  --font-family: "Barlow", Arial, Helvetica, system-ui, sans-serif;
  --padding-inline: 8.5vw;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg-dark);
}

main {
  margin-bottom: auto;
}

a,
a:is(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 var(--padding-inline);
}

.section-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
}
.section-title--dark {
  color: var(--color-primary-dark);
}
.section-title span {
  color: var(--color-accent);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 316px;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid var(--color-primary-light);
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary-light);
  transition: all 0.3s;
}
.button:hover {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}
.button--on-accent:hover {
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-dark);
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 41px var(--padding-inline);
}
.header-nav-wrapper {
  position: relative;
}
.header-burger {
  position: relative;
  width: 32px;
  height: 24px;
  margin-top: 4px;
}
.header-burger:hover {
  color: var(--color-primary-dark);
}
.header-burger svg {
  display: block;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s, color 0.3s;
}
.header-burger .opened {
  opacity: 0;
}
.js-opened .header-burger .opened {
  opacity: 1;
}
.header-burger .closed {
  opacity: 1;
}
.js-opened .header-burger .closed {
  opacity: 0;
}
.header-nav {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.js-opened .header-nav {
  height: 170px;
  opacity: 1;
}
.js-opened .header-nav .header-nav-list {
  visibility: visible;
}
.header-nav-list {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
}
.header-nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  transition: color 0.3s;
}
.header-nav-link:hover {
  color: var(--color-primary-light);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo contacts" "title contacts" "location socials" "copyright copyright";
  row-gap: 30px;
  padding: 111px var(--padding-inline) 44px;
}
.footer-logo {
  grid-area: logo;
}
.footer-title {
  grid-area: title;
  margin: 4px 0 8px;
  font-weight: 700;
  font-size: 42px;
  line-height: 106%;
  text-transform: uppercase;
  color: var(--color-primary-light);
}
.footer-title span {
  color: var(--color-accent);
}
.footer-location-wrap {
  grid-area: location;
  display: flex;
  align-items: flex-start;
  gap: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: lowercase;
  color: var(--color-primary-light);
}
.footer-location-wrap span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-accent);
}
.footer-contacts {
  grid-area: contacts;
  justify-self: end;
}
.footer-contacts-title {
  margin: 8px 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: var(--color-accent);
}
.footer-contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-contacts-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: right;
  color: var(--color-primary-light);
}
.footer-contacts-link svg {
  display: block;
  flex-shrink: 0;
}
.footer-socials {
  grid-area: socials;
  justify-self: end;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-socials-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 46px;
  color: #999FA0;
}
.footer-copyright {
  grid-area: copyright;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 317%;
  letter-spacing: 1.17vw;
  text-align: center;
  color: var(--color-primary-light);
  opacity: 0.34;
}/*# sourceMappingURL=index.css.map */